
.dark, .dark * {
    background-color: #171717;
    color: #f6f6f6;
    border-color: #e6e6e6
}

.dark .about img.light,.dark * .about img.light {
    display: none
}

.dark .about img.dark,.dark * .about img.dark {
    display: inline
}

.dark .post p,.dark * .post p {
    color: #ddd
}

.dark .social [class^="icon-"],.dark * .social [class^="icon-"] {
    color: #f6f6f6
}

.dark #posts-label,.dark * #posts-label {
    color: #f6f6f6;
    border-bottom: 1px solid #272727
}

.dark .highlight,.dark * .highlight {
    background-color: #002b36;
    color: #93a1a1
}

.dark .highlight .c,.dark * .highlight .c {
    color: #586e75
}

.dark .highlight .err,.dark * .highlight .err {
    color: #93a1a1
}

.dark .highlight .g,.dark * .highlight .g {
    color: #93a1a1
}

.dark .highlight .k,.dark * .highlight .k {
    color: #859900
}

.dark .highlight .l,.dark * .highlight .l {
    color: #93a1a1
}

.dark .highlight .n,.dark * .highlight .n {
    color: #93a1a1
}

.dark .highlight .o,.dark * .highlight .o {
    color: #859900
}

.dark .highlight .x,.dark * .highlight .x {
    color: #cb4b16
}

.dark .highlight .p,.dark * .highlight .p {
    color: #93a1a1
}

.dark .highlight .cm,.dark * .highlight .cm {
    color: #586e75
}

.dark .highlight .cp,.dark * .highlight .cp {
    color: #859900
}

.dark .highlight .c1,.dark * .highlight .c1 {
    color: #586e75
}

.dark .highlight .cs,.dark * .highlight .cs {
    color: #859900
}

.dark .highlight .gd,.dark * .highlight .gd {
    color: #2aa198
}

.dark .highlight .ge,.dark * .highlight .ge {
    color: #93a1a1;
    font-style: italic
}

.dark .highlight .gr,.dark * .highlight .gr {
    color: #dc322f
}

.dark .highlight .gh,.dark * .highlight .gh {
    color: #cb4b16
}

.dark .highlight .gi,.dark * .highlight .gi {
    color: #859900
}

.dark .highlight .go,.dark * .highlight .go {
    color: #93a1a1
}

.dark .highlight .gp,.dark * .highlight .gp {
    color: #93a1a1
}

.dark .highlight .gs,.dark * .highlight .gs {
    color: #93a1a1;
    font-weight: bold
}

.dark .highlight .gu,.dark * .highlight .gu {
    color: #cb4b16
}

.dark .highlight .gt,.dark * .highlight .gt {
    color: #93a1a1
}

.dark .highlight .kc,.dark * .highlight .kc {
    color: #cb4b16
}

.dark .highlight .kd,.dark * .highlight .kd {
    color: #268bd2
}

.dark .highlight .kn,.dark * .highlight .kn {
    color: #859900
}

.dark .highlight .kp,.dark * .highlight .kp {
    color: #859900
}

.dark .highlight .kr,.dark * .highlight .kr {
    color: #268bd2
}

.dark .highlight .kt,.dark * .highlight .kt {
    color: #dc322f
}

.dark .highlight .ld,.dark * .highlight .ld {
    color: #93a1a1
}

.dark .highlight .m,.dark * .highlight .m {
    color: #2aa198
}

.dark .highlight .s,.dark * .highlight .s {
    color: #2aa198
}

.dark .highlight .na,.dark * .highlight .na {
    color: #93a1a1
}

.dark .highlight .nb,.dark * .highlight .nb {
    color: #B58900
}

.dark .highlight .nc,.dark * .highlight .nc {
    color: #268bd2
}

.dark .highlight .no,.dark * .highlight .no {
    color: #cb4b16
}

.dark .highlight .nd,.dark * .highlight .nd {
    color: #268bd2
}

.dark .highlight .ni,.dark * .highlight .ni {
    color: #cb4b16
}

.dark .highlight .ne,.dark * .highlight .ne {
    color: #cb4b16
}

.dark .highlight .nf,.dark * .highlight .nf {
    color: #268bd2
}

.dark .highlight .nl,.dark * .highlight .nl {
    color: #93a1a1
}

.dark .highlight .nn,.dark * .highlight .nn {
    color: #93a1a1
}

.dark .highlight .nx,.dark * .highlight .nx {
    color: #93a1a1
}

.dark .highlight .py,.dark * .highlight .py {
    color: #93a1a1
}

.dark .highlight .nt,.dark * .highlight .nt {
    color: #268bd2
}

.dark .highlight .nv,.dark * .highlight .nv {
    color: #268bd2
}

.dark .highlight .ow,.dark * .highlight .ow {
    color: #859900
}

.dark .highlight .w,.dark * .highlight .w {
    color: #93a1a1
}

.dark .highlight .mf,.dark * .highlight .mf {
    color: #2aa198
}

.dark .highlight .mh,.dark * .highlight .mh {
    color: #2aa198
}

.dark .highlight .mi,.dark * .highlight .mi {
    color: #2aa198
}

.dark .highlight .mo,.dark * .highlight .mo {
    color: #2aa198
}

.dark .highlight .sb,.dark * .highlight .sb {
    color: #586e75
}

.dark .highlight .sc,.dark * .highlight .sc {
    color: #2aa198
}

.dark .highlight .sd,.dark * .highlight .sd {
    color: #93a1a1
}

.dark .highlight .s2,.dark * .highlight .s2 {
    color: #2aa198
}

.dark .highlight .se,.dark * .highlight .se {
    color: #cb4b16
}

.dark .highlight .sh,.dark * .highlight .sh {
    color: #93a1a1
}

.dark .highlight .si,.dark * .highlight .si {
    color: #2aa198
}

.dark .highlight .sx,.dark * .highlight .sx {
    color: #2aa198
}

.dark .highlight .sr,.dark * .highlight .sr {
    color: #dc322f
}

.dark .highlight .s1,.dark * .highlight .s1 {
    color: #2aa198
}

.dark .highlight .ss,.dark * .highlight .ss {
    color: #2aa198
}

.dark .highlight .bp,.dark * .highlight .bp {
    color: #268bd2
}

.dark .highlight .vc,.dark * .highlight .vc {
    color: #268bd2
}

.dark .highlight .vg,.dark * .highlight .vg {
    color: #268bd2
}

.dark .highlight .vi,.dark * .highlight .vi {
    color: #268bd2
}

.dark .highlight .il,.dark * .highlight .il {
    color: #2aa198
}

.dark .highlight,.dark .highlight *,.dark * .highlight,.dark * .highlight * {
    background-color: #00080a;
    color: #93a1a1
}

.dark div.highlight-dark,.dark * div.highlight-dark {
    padding: 5px 20px
}

.dark pre.highlight-dark,.dark code,.dark * pre.highlight-dark,.dark * code {
    font-family: 'Consolas', Menlo, monospace;
    line-height: 1.4em;
    tab-size: 4
}

.dark .post-categories li,.dark * .post-categories li {
    background-color: #333;
    color: #fff
}

.dark a,.dark * a {
    color: #4da3ff
}

.dark #title a,.dark * #title a {
    color: #fff
}

.dark #title a:hover,.dark * #title a:hover {
    color: #4da3ff
}

.dark .posts-labelgroup,.dark * .posts-labelgroup {
    border-bottom: 1px solid #333
}

.dark .posts-labelgroup .search-results,.dark * .posts-labelgroup .search-results {
    background-color: #333
}

.dark .posts-labelgroup .search-results a,.dark * .posts-labelgroup .search-results a {
    color: white
}

.dark .posts-labelgroup .search-results a:hover,.dark * .posts-labelgroup .search-results a:hover {
    background-color: #171717
}

.dark .posts-labelgroup .search-section i,.dark * .posts-labelgroup .search-section i {
    background-color: transparent
}

.dark .posts-labelgroup:hover i,.dark * .posts-labelgroup:hover i {
    color: white
}

.dark .posts-labelgroup:hover input,.dark * .posts-labelgroup:hover input {
    color: white
}

.dark .posts-labelgroup.focus-within .search-section,.dark * .posts-labelgroup.focus-within .search-section {
    background-color: #333
}

.dark .posts-labelgroup.focus-within input,.dark * .posts-labelgroup.focus-within input, .dark .post {
    color: #f6f6f6
}

.dark .posts-labelgroup.focus-within i,.dark * .posts-labelgroup.focus-within i {
    color: white
}

.dark table th,.dark table td {
    border: 1px solid #333
}

.dark table th {
    background-color: #0d0d0d
}
