.posts,.post-container {
    list-style-type: none;
    margin: 45px 30px
}

.posts-labelgroup {
    margin: 0 0 0.67em 0;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #eee
}

#posts-label {
    font-size: 15px;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 0;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    transition: width 0.1s
}

@-moz-document url-prefix() {
    .posts-labelgroup {
        align-items: center
    }
}


.posts-labelgroup .search-section {
    display: flex;
    flex-grow: 1;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    align-items: center;
    border-radius: 5px;
}

.posts-labelgroup i {
    color: #777;
    flex-grow: 0;
    padding: 0 8px;
    transition: color 0.5s;
    font-size: 15px
}

.posts-labelgroup input {
    color: #555;
    background-color: transparent;
    font-size: 15px;
    flex-grow: 1;
    height: 39px;
    border: none;
    padding: 10px 0;
    outline: none;
    transition: color 0.5s
}

.posts-labelgroup .search-results {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    width: 100%;
    min-height: 50px;
    box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
    z-index: 3;
    padding: 10px 0;
    font-size: 15px;
    border: 1px solid rgba(223,225,229,0)
}

.posts-labelgroup .search-results:empty::before {
    content: attr(data-placeholder);
    padding: 8px 25px 8px 14px
}

.posts-labelgroup .search-results a {
    padding: 8px 25px 8px 14px;
    text-decoration: none;
    display: flex;
    background-color: transparent
}

.posts-labelgroup .search-results a:hover {
    color: black;
    background-color: #eee
}

.posts-labelgroup .search-results a::before {
    content: '\e805';
    font-family: "fontello";
    font-style: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    margin-right: 14px;
    padding: 0 3px;
    color: #9aa0a6
}

.posts-labelgroup .search-container {
    display: block;
    flex-grow: 1;
    position: relative
}

.posts-labelgroup:hover i {
    color: #0a59b0
}

.posts-labelgroup.focus-within .search-section {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
    border: 1px solid rgba(223,225,229,0);
    border-bottom: solid 1px #eee;
    z-index: 3;
    margin: 0 auto
}

.posts-labelgroup.focus-within input {
    color: black
}

.posts-labelgroup.focus-within i {
    color: #0a59b0;
    padding: 0 14px
}

.post-wrapper {
    border-bottom: 1px solid #ececec;
    margin-bottom: 1rem;
    padding-bottom: 1rem
}

.post-categories {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.post-categories li {
    font-size: 14px;
    float: left;
    background-color: #e3e3e3;
    padding: 5px 20px;
    border-radius: 2px;
    margin-right: 10px
}

.post-date {
    display: flex;
    margin-right: 10px;
    color: #555;
    min-width: 150px;
    gap: 5px
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px
}

.post-link {
    text-decoration: none
}

.post-title {
    line-height: 1.2em;
    font-size: 28px;
    margin-bottom: 10px
}

.post-container {
    padding-left: 30px
}


.post {
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    color: #222;
    line-height: 1.9em
}

.post p {
    margin-top: 10px
}

.post a {
    color: #0a59b0;
    text-decoration: none;
    transition: border-bottom 0.4s
}

.post a:hover {
    border-bottom: 0.5px solid #0a59b0
}

.post h1,.post h2,.post h3,.post h4,.post h5,.post h6 {
    font-family: Raleway, sans-serif
}
